.slider {
	width:960px;
	height:336px;
/*border:1px solid #dbdbdb;*/
	position:relative;
	background-color:;
	margin:33px 24px 16px 24px;
}
.slider .item {border:1px solid #
	position:relative;
	width:930px;
	height:298px;
}
.slider .item img {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.slider .text {
	position:absolute;
	top:102px;
	left:480px;
	z-index:2;
}
.slider .text h3 {
	font-size:45px;
	line-height:45px;
	color:#ff0000;
	padding:0 0 0 7px;
}
.slider .text h2 {
	font-size:58px;
	line-height:58px;
	color:#39393d;
	text-transform:uppercase;
	padding:0 0 0 2px;
}
.slider-nav {
	height:18px;
	position:absolute;
	bottom:9px;
	right:27px;
	z-index:3;
}
.slider-nav a {
	display:block;
	float:left;
	width:27px;
	height:10px;
	font-size:0;
	background:#ddd;
	border:1px solid #ddd;
	margin:0 5px 0 0;
}
.slider-nav a.active {
	background:#999;
	border:1px solid red;
}
